services:
  transponster:
    image: transponster-bot:latest
    build: .
    container_name: transponster-container
    env_file: .env
    ports:
      - "3000:3000"
    restart: always
    environment:
      - TRACKER_DATA_DIR=/app/data
    volumes:
      - ./data:/app/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"